body {
  a {
    color: $primary;
  }
}


body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: $primary;
  outline: 1px solid slategrey;
}

.nuxt-link-exact-active {
    color: $primary !important;
}

.navbar {
    .navbar-item {
      font-size: 1.3rem;
    }

}

.button.is-danger {
    color: white !important;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: x-large;
    font-weight: bold;
}



@media(max-width: 768px) { /* <== You can change this break point as per your  needs */
    body {
        width: 100% !important;
        overflow-x:hidden;
   }

   header {
    flex-direction: column-reverse;
    display: flex;

    padding: 0 !important;

    .header-image {
        display: flex;
        justify-content: center;
        // margin-bottom: -10%;
        img {
            width: 65%;
        }
    }

    .header-title {
        font-size: 1.8rem;
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
  }
}
