@import '~/assets/scss/variables.scss';
@import '~/assets/scss/general.scss';

.socials {
    display: flex;
    flex-direction: column;
    a {
        font-size:large;
        font-weight: bold;
    }
}

.photo {
    margin-top: 10%;
    img {
        border-radius: 15%;
        width: 70%;
    }
}

.about {
    font-size:larger;
    text-align: justify;
}

@media(max-width: 767px) { 
    .about-wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content:center;
        justify-items: center;

        p {
            text-align: center;
        }
        .socials {
            text-align: center;
        }

        .photo {
            text-align: center;
        }
    }

    .aboutme {
        h2 {
            text-align: center;
        }
    }
}
