@import '~/assets/scss/variables.scss';
@import '~/assets/scss/general.scss';


header {
  display: flex;
  align-items: center;

  h1 {
      text-align: left;
      font-size: 3.7rem;
  }

  span:nth-of-type(1) {
      color: $primary;
  }
}

.projects {
    h2 {
        margin-bottom: 4%;
        // margin-left: 2%;
    }

}

.project-item {
    border-radius: 15px;
    border: 1px solid #d6dbe6;

    margin-bottom: 2%;
    .show-work {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .project-header {
        position: relative;

        .project-description {
            .project-title {
                margin-bottom: 0;
                font-size: x-large;
                span {
                    font-size: xx-large;
                    font-weight: bold;
                }
            }

            .project-description{
                margin-top: 0;
                margin-bottom: 3%;
            }
        }

        // height: 300px;
    
        &::after {
            margin-top: 2%;
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            heigth: 1px;
            border-top: 1px solid #d6dbe6;
            height: 0.5em;
            margin-left: 10%;
            margin-right: 10%;
        }

    }


    .project-content {
        margin-top: 2%;
        .carousel {
            padding: 0;
            margin-bottom: 2%;
        }
    }

}


@media(max-width: 768px) { /* <== You can change this break point as per your  needs */
    .projects {
        h2 {
            margin-bottom: 10%;
            text-align: center;
        }
    }

    .show-work {
        a {
            margin-bottom: 4%;
        }
    }

    .project-item {
        text-align: center;
    }
}
